@media screen and (max-width:1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display: flex;
    }
}

/* @media screen and (max-width:992px){
    .anim-text1{
        font-size:70px;
    }
    .anim-text2{
        font-size:70px;
    }

} */